<div class="main">
    <ul class="values">
        <li>Volume: <span class="value">{{ volume }} km²</span></li>
        <li>DN: <span class="value">{{ DN }} PdV</span></li>
        <li>Ratio: <span class="value">{{ ratio }} %</span></li>
    </ul>
    <ul class="configs">
        <li><label>Ciblage <input type="radio" name="config" value="Ciblage" (change)="inputChanged(0)" #input/></label></li>
        <li><label>Objectif <input type="radio" name="config" value="Objectif" checked (change)="inputChanged(1)" #input/></label></li>
    </ul>
</div>