<div class="left" (click)="open()">
    <img src="assets/Rechercher.svg"/>
</div>
<div class="wrapper" [class.opened]="opened">
    <span class="pattern" (click)="pattern = ''">{{ pattern }}</span>
    <input [placeholder]="placeholder" [style.padding-left]="(15 + patternWidth) + 'px'" #input (input)="onInput($event)" (keydown)="onKeyDown($event)" (focus)="onFocus($event)" (focusout)="onFocusOut($event)"/>
</div>

<suggestionbox [suggestions]="results | async" [selection]="selectionIndex" (confirm)="onSelectionConfirmed($event)" #suggestionbox></suggestionbox>