:host {
    box-sizing: border-box;
    background: none;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    height: var(--search-bar-height);
    position: relative;
    font-size: 14px;
    font-family: 'Roboto';
    padding: 0 15px;

    --search-bar-width: 200px;
    --search-bar-height: 50px;
    --search-bar-image-width: 40px;
    --search-bar-image-height: 30px;
}

:host > *:not(:last-child) {
    height: var(--search-bar-height);
}

:host(.opened) {
    padding: 0;
}

.left {
    width: var(--search-bar-image-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0;
    transition: all 200ms ease-out 0s;
}

:host(.opened) .left {
    right: calc(var(--search-bar-width));
}

.left img {
    padding: 0; margin: 0;
    height: var(--search-bar-image-height);
    width: var(--search-bar-image-width);
    cursor: pointer;
    z-index: 1;
}

:host(.opened) .left img {
    transform: scale(0.8);
}

.wrapper {
    position: relative;
    right: 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 0;
    transition: all 200ms ease-out 0s;
    padding: 5px 0;
}

:host(.opened) .wrapper {
    right: calc(-1 * var(--search-bar-image-width));
    width: calc(var(--search-bar-width) + var(--search-bar-image-width));
}

.wrapper .pattern {
    position: absolute;
    left: calc(var(--search-bar-image-width));
    top: 51%;
    transform: translateY(-50%);
    margin-right: 10px;
    cursor: pointer;
    font-size: 0.8em;
}

.pattern.none {
    visibility: hidden;
}

.wrapper input {
    padding: 0 15px; margin: 0;
    border: none; outline: none;
    height: 100%;
    border-radius: 3px;
    max-width: 100%;
    box-sizing: border-box;
}

:host(.opened) .wrapper input {
    border: 1px solid black;
    width: 100%;
}

.wrapper .close {
    width: 10px; height: 10px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    cursor: pointer;
}

:host::ng-deep suggestionbox {
    left: var(--search-bar-image-width);
}