<div class="container">
  <div class="form-container">
    <div id="image-container">
      <img id="image-login" src="assets/login-image-2.jpg" height="100%"/>
      <img id="pentagon-image" src="assets/Etex.svg" />
    </div>
    <div id="logo-container">
      <img id="logo" src="assets/Logo etex.png" />
    </div>
    
  </div>
    <div class="connection-container">
      <app-login-form
        *ngIf="!userValid"
        @fadeOut
        (onLogin)="onLoading($event.username, $event.password)"
        [errorConnection]="!userValid"
      ></app-login-form>
    </div>
</div>
