<div class="container">
  <div class="form-container">
    <div id="image-container">
      <img id="image-login" src="../assets/login-image.jpg" height="100%"/>
      <img id="pentagon-image" src="../assets/Etex.svg" />
    </div>
    <div id="logo-container">
      <img id="logo" src="../assets/ETEX_CMYK_baseline_below.png" />
    </div>
    <div class="connection-container">
      <app-login-form
        class="form"
        *ngIf="!userValid"
        @fadeOut
        (onLogin)="onLoading($event.username, $event.password)"
      ></app-login-form>
    </div>
  </div>
</div>
