
.container {
    font-family: 'Roboto';
    display: flex; 
    position: absolute;
    height: 100%;
    width: 100%;
}
#image-container{
    display: flex;
    position: absolute;
    width: 40%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
}
#image-login{
    height: 100%;
}
#image-login.scale{
    transform: scale(1.6 , 1.6);
    transition : transform ease-out 1s
}

#image-container.fadeOut{
    transition: width 2s ease-in-out;
    width:100%
}
.form-container{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
#logo-container{
    position: absolute;
    left: 41%;
    top: 20px;
    width: 10vw;
    min-width: 150px;
    justify-content: center;
    z-index: 2; 
    transition : all ease-out 2s;
}

#logo{
    top: 2px;
    left: 2px;
    height: 100%;
    width: 100%;
    right: 2px;
    z-index: 3;
}

@keyframes rotated {
    0% { transform: rotateY(0deg); }
    50%, 100% { transform: rotateY(360deg); }
}

#logo-container.translated {
    left: 16%;
    top: 50%;
    transform: scale(2.1 , 2.1);
}
#logo-container.rotated{
    left: 76%;
    transform: scale(2.5, 2.5);
}

#logo.rotated{
    animation-name: rotated;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.connection-container{
    position:absolute;
    display: flex;
    width: 60%;
    height: 100%;
    left: 40%;
    align-items: center;
    justify-content: center;   
}
#pentagon-image{
    display: flex;
    position: absolute;
    right: 0px;
    opacity: 0.6;
    height: 110%;
}
#pentagon-image.fadeOut{
    transform: translateX(-65vw);
    transition: transform ease-out 2s;
    /* left :0px; */
}
.org{
    padding-top: 20px;
}

.loading-div {
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.already-connected {
    position: absolute;
    width: 100%;
    height: 100%;
}
.already-connected span {
    position: absolute;
    top: 50%;
    right: 20%;
}

.already-connected button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #F06D0C;
    color: white;
    border-color: white;
}

button {
    bottom: 0;
}