.title {
    box-sizing: border-box;
    width: 185px;
    text-align: left;
    height: 33px;
    color: #151D21;
    font: normal normal bold 28px/46px Roboto;
    letter-spacing: 1.05px;;  
}
#input-field1 {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 10px;
    font: normal normal normal 16px/24px Roboto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D5DAE2;
    border-radius: 4px;
}
#input-field2 {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 10px;
    font: normal normal normal 16px/24px Roboto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D5DAE2;
    border-radius: 4px;
}
#continueButton {
    /* height */
    box-sizing: border-box;
    width: 100%;
    height: 63px;
    margin: 0;
    margin-top: 110px; 
    color: white;
    background: #F06D0C 0% 0% no-repeat padding-box;;
    font-size: 25px;
    letter-spacing: 0.94px;
    border: none;
    border-radius: 4px;
}
#continueButton:hover{
    background-color: #E35F00;
}
.label-line{
    width: 100%;
    height: 90px;
    display: inline-block;
    direction: vertical;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left;
    font:normal normal bold 16px/24px Noto Nastaliq Urdu;
    font-family: 'Roboto';
    letter-spacing: 0.64px;
    color: #1E2022;
    text-transform: uppercase;
    opacity: 1;
}
.stay-connected{
    display: flex;
    padding-top: 30Px;
    position:absolute;
    right: 0%;
    justify-content: right;
    width: max-content;
}
.text{
    margin-left: 2px;
    font-family: 'Roboto'
}
@keyframes shake {
    0% { transform: translate(1px, 1px)}
    10% { transform: translate(-1px, -2px)}
    20% { transform: translate(-3px, 0px)}
    30% { transform: translate(3px, 2px)}
    40% { transform: translate(1px, -1px)}
    50% { transform: translate(-1px, 2px)}
    60% { transform: translate(-3px, 1px)}
    70% { transform: translate(3px, 1px)}
    80% { transform: translate(-1px, -1px)}
    90% { transform: translate(1px, 2px)}
    100% { transform: translate(1px, -2px)}
  }
#input-field1.red-border{
    animation: shake 0.5s;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 10px;
    font: italic normal 100 16px/24px Roboto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #D5DAE2;
    border-radius: 4px;
    border-color: red;
}
#input-field2.red-border2{
    animation: shake 0.5s;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 10px;
    font: italic normal 100 16px/24px Roboto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #D5DAE2;
    border-radius: 4px;
    border-color: red;
}
.error-message{
    top: 464px;
    left: 781px;
    width: 100%;
    height: 19px;
    text-align: center;
    font: normal normal normal 16px/22px Roboto;
    letter-spacing: 0.56px;
    color: #D00000;
    opacity: 1;
}
.empty-error{
    top: 464px;
    left: 781px;
    width: 100%;
    height: 19px;
    text-align: center;
    font: normal normal normal 16px/22px Roboto;
    letter-spacing: 0.56px;
    color: #D00000;
    opacity: 1;
}
input::placeholder{
    font: italic normal 100 16px/24px Roboto;
}