<form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
  <div>
    <h1 class="title">Connexion</h1>
    <div class="label-line">
      <label class="label" for="login">PSEUDO</label>
      <br>
      <input
        id="input-field1"
        type="text"
        placeholder="Saisir votre identifiant"
        formControlName="username"
      />
    </div>
    <div class="label-line">
      <label class="label" for="password">MOT DE PASSE</label>
      <br>
      <input
        id="input-field2"
        type="password"
        placeholder="Saisir votre mot de passe"
        formControlName="password"
      />
    </div>
    <div class="stay-connected">
      <app-checkbox [(value)]="isStayConnected"> </app-checkbox
      ><span class="text"> &nbsp;&nbsp; Rester connecté</span>
    </div>
    <button id="continueButton" type="submit">Se connecter</button>
  </div>
</form>
