:host {
  box-sizing: border-box;
  width: 100vw;
  height: calc(100vh - 60px);
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  z-index: 999;
  background: #f7f7f7;
  position: absolute;
  top: 60px;
}

h1 {
  padding: 0 0 20px 20px;
  margin: 0;
}

.map-container {
  width: 100%;
  flex: 1;
}

.map-container::ng-deep .infowindow {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  z-index: 9999;
}

.map-container::ng-deep .infowindow-button {
  border: 3px solid red;
  outline: none;
  background: none;
  padding: 0;
  width: 30px; height: 30px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.close-map {
  border: none;
  outline: none;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  font-size: 16px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.close-map:hover {
  background: black;
}