:host {
  box-sizing: border-box;
  width: 100vw;
  height: calc(100vh - 60px);
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  z-index: 999;
  background: white;
  position: absolute;
  top: 60px;
}

h1 {
  padding: 0 0 20px 20px;
  margin: 0;
}

.map-container {
  width: 100%;
  flex: 1;
}