:host {
    --info-bar-width: 50%;
    --info-bar-max-width: 800px;
    --info-bar-padding-y: 50px;
    --info-bar-padding-x: 40px;
    --info-bar-margin-y: 70px;
    --navigation-height: 20px;
    --navigation-ball-size: 30px;
    --pdv-title-margin-y: 15px;
    --pdv-fields-margin-y: 10px;
    --pdv-props-margin-y: 20px;
    --pdv-comment-margin-y: 20px;
    --pdv-section-margin-y: 30px;
    --eval-circle-size: 30px;


    box-sizing: border-box;
    position: absolute;
    width: var(--info-bar-width);
    max-width: var(--info-bar-max-width);
    height: calc(100% - var(--info-bar-margin-y) - var(--navigation-height));
    padding: var(--info-bar-padding-y) var(--info-bar-padding-x);
    top: 0;
    right: calc(-1*var(--info-bar-width));
    background: white;
    z-index: 9999;
    margin-top: var(--info-bar-margin-y);
    display: flex;
    flex-flow: column nowrap;
    transition: right 150ms ease-out 0s;
    font-family: 'Roboto';
    font-size: 20px;
    box-shadow: -2px 0 3px 0px #8a8a8a;
    overflow: auto;
}

@media (max-width: 1366px) {
    :host {
        font-size: 16px;
    }
}

@media (max-width: 1920px) {
    :host {
        font-size: 20px;
    }
}

@media (min-width: 1920px) {
    :host {
        font-size: 22px;
    }
}

:host(.opened) {
    right: 0;
}

ul, hr {
    margin: 0;
    padding: 0;
}

.cover {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

.host * {
    margin: 0;
}

.nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    margin: 0 12.5%;
    font-size: 0.8em;
}

.nav ul li {
    margin: 0;
    position: relative;
    font-weight: 200;
    cursor: pointer;
}

.nav ul li.selected {
    font-weight: 400;
}

.nav ul li::before {
    content: '';
    display: block;
    width: var(--navigation-ball-size);
    height: var(--navigation-ball-size);
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: calc(-1*var(--navigation-ball-size) - 0.5em);
    transform: translateX(-50%);
    background: white;
    z-index: 1;
}

.nav ul li.selected::before {
    background: black;
    font-size: 0.8em;
}

.nav hr {
    position: absolute;
    width: calc(100% - 4em);
    height: 1px;
    border: none;
    background: black;
    top: calc(var(--navigation-ball-size) * -0.5 - 0.5em + 1px);
    left: 50%;
    transform: translateX(-50%);
}

.close {
    border: none;
    outline: none;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none !important;
    font-size: 1.25em;
    font-weight: 700;
    position: absolute;
    top: 2em;
    right: 25px;
    cursor: pointer;
    transition: box-shadow 150ms ease-out 0;
    box-shadow: 0 0 5px 0 #333;
}

.close:hover {
    box-shadow: 0 0 8px 0 #333;
}

.reference {
    flex: 1;
    max-height: 40%;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: var(--pdv-title-margin-y);
}

.nav ul {
    list-style-type: none;
}

.main {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.main .reference, .main .content {
    margin: auto 0;
}

.definition, .props {
    flex: 1;
}

.definition ul, .props ul, .eval ul {
    list-style-type: none;
    font-size: 0.8em;
}

.definition ul li {
    font-weight: 300;
    margin: var(--pdv-fields-margin-y) 0;
}

.definition ul li span {
    font-weight: 500;
}

span.bolder {
    font-size: 1em;
    font-weight: 500;
}

.definition {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
}

.props {
    color: #F38839;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-end;
    text-align: right;
}

.props ul li {
    font-size: 1em;
}

.props ul li:first-of-type {
    margin-bottom: var(--pdv-props-margin-y);
}

.comments textarea {
    display: block;
    height: 100%;
    max-height: 200px;
    min-height: 100px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border: none;
    box-shadow: inset 0 0 5px 1px #aaa;
}

.comments span {
    display: block;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: var(--pdv-comment-margin-y);
}

h2 {
    margin: var(--pdv-title-margin-y) 0;
    font-size: 1.25em;
    font-weight: 600;
    align-self: center;
}

p {
    font-size: 0.9em;
}

.definition .name {
    font-weight: 500;
}

.name {
    font-size: 0.9em;
    font-weight: 400;
}

.definition {
    margin-bottom: var(--pdv-section-margin-y);
}

/* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 0;
    cursor: pointer;
    user-select: none;
}

/* Hide the browser's default checkbox */
.props .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.props .container-checkbox .checkmark {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.props .container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.props .container-checkbox input:checked ~ .checkmark {
    background-color: #F38839;
}

/* Create the checkmark/indicator (hidden when not checked) */
.props .container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.props .container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.props .container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.circle {
    width: var(--eval-circle-size);
    height: var(--eval-circle-size);
    border-radius: 50%;
    background: #aaa;
    box-shadow: -1px -1px 3px 0 #aaaa;
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}

.eval {
    margin-bottom: var(--pdv-section-margin-y);
}

.eval ul li {
    margin: var(--pdv-fields-margin-y) 0;
}

.eval.easy .circle:nth-of-type(1) {
    background: green;
}

.eval.mid .circle:nth-of-type(2) {
    background: yellow;
}

.eval.hard .circle:nth-of-type(3) {
    background: red;
}

.eval input {
    display: inline-block;
    min-width: 200px;
    width: auto;
    height: 40px;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 5px 0 #aaa;
    padding: 0 10px;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
}