<button class="close" (click)="exit()">×</button>
<div class="nav">
    <ul #navigation>
        <li *ngFor="let page of pages; let index = index" [class.selected]="index == currentIndex" (click)="setPage(index)">{{page}}</li>
        <hr class="horizontal-line">
    </ul>
</div>

<ng-container *ngIf="pdv">
    <ng-container *ngIf="currentIndex == 0">
        <div class="main">
            <h2>{{pages[currentIndex]}} : {{pdv!.attribute('name')}}</h2>
            <div class="reference">
                <div class="definition">
                    <ul>
                        <li><span>Point de vente :</span> {{pdv!.attribute('name')}}</li>
                        <li><span>Agent :</span> {{getName('agent', pdv!.attribute('agent'))}}</li>
                        <li><span>Segment :</span> {{getName('segmentMarketing', pdv!.attribute('segmentMarketing'))}}</li>
                        <li><span>Enseigne :</span> {{getName('enseigne', pdv!.attribute('enseigne'))}}</li>
                        <li><span>Département :</span> {{getName('dep', pdv!.attribute('dep'))}}</li>
                        <li><span>Ville :</span> {{getName('ville', pdv!.attribute('ville'))}}</li>
                        <li><span>Bassin :</span> {{getName('bassin', pdv!.attribute('bassin'))}}</li>
                    </ul>
                </div>
                <div class="props">
                    <ul>
                        <li>
                            <label class="container-checkbox">
                                Ne vend pas de plaque
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="container-checkbox">
                                Point de vente redistribue
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="currentIndex == 1">
        <div class="main">
            <h2>{{pages[currentIndex]}} : {{pdv!.attribute('name')}}</h2>
            <!-- <p>information sur la point de vente</p> -->
            <div class="content">
                <div class="definition">
                    <div class="name">Général</div>
                    <ul>
                        <li><span>Agent :</span> {{getName('agent', pdv!.attribute('agent'))}}</li>
                        <li><span>Enseigne :</span> {{getName('enseigne', pdv!.attribute('enseigne'))}}</li>
                        <li><span>Départements :</span> {{getName('dep', pdv!.attribute('dep'))}}</li>
                        <li><span>Client prospect :</span> -- </li>
                        <li><span>Segmentation marketing :</span>{{getName('segmentMarketing', pdv!.attribute('segmentMarketing'))}}</li>
                        <li><span>Segmentation portefeuille :</span> -- </li>
                    </ul>
                </div>

                <div class="definition">
                    <div class="name">Volumes de vente par marque en m²</div>
                    <ul>
                        <li><span>KNAUF :</span>20 000 MOCK</li>
                    </ul>
                </div>

                <div class="eval easy">
                    <ul>
                        <li><span class="bolder">Volume visé en m² :</span><input type="text"/></li>
                        <li><span class="bolder">Capacité à faire basculer le PDV :</span>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="currentIndex == 2">
        <div class="main">
            <h2>{{pages[currentIndex]}} : {{pdv!.attribute('name')}}</h2>
            <!-- <p>information sur la point de vente</p> -->
            <div class="content">
                <div class="grid">
                    <div class="first row">
                        <div class="first empty cell"></div>
                        <div class="cell" *ngFor="let product of products">
                            {{product | titlecase}}
                        </div>
                    </div>
                    <div class="total row">
                        <div class="first cell">Totaux</div>
                        <div class="cell" *ngFor="let product of products; let i = index">
                            <input type="text" [value]="grid[0][i]" [disabled]="i == 3"/>
                        </div>
                    </div>
                    <div class="row" *ngFor="let industry of industries; let j = index">
                        <div class="first cell">{{industry | titlecase}}</div>
                        <div class="cell" *ngFor="let product of products; let i = index">
                            <input *ngIf="i != 3" type="number" [(ngModel)]="grid[j+1][i]" (input)="updateSum(i)"/>
                            <input *ngIf="i == 3" type="number" [disabled]="i == 3" [value]="grid[j+1][0] + grid[j+1][1] + grid[j+1][2]"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>


<div *ngIf="currentIndex < 2" class="comments">
    <span>Commentaires :</span>
    <textarea #comments></textarea>
</div>


<div *ngIf="currentIndex == 2" class="validation">
    <button>Annuler</button>
    <button>Validate</button>
</div>
