:host {
    --info-bar-width: 600px;
    --info-bar-padding-y: 50px;
    --info-bar-padding-x: 20px;
    --info-bar-margin-y: 70px;
    --navigation-height: 20px;
    --navigation-ball-size: 30px;

    box-sizing: border-box;
    position: absolute;
    width: var(--info-bar-width);
    height: calc(100% - var(--info-bar-margin-y) - var(--navigation-height));
    padding: var(--info-bar-padding-y) var(--info-bar-padding-x);
    top: 0;
    right: var(--info-bar-padding-y);
    background: white;
    font-family: 'Roboto';
    font-size: 16px;
    z-index: 9999;
    margin-top: var(--info-bar-margin-y);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

ul, hr {
    margin: 0 !important;
    padding: 0;
}

.host * {
    margin: 0;
}

.nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.nav ul li {
    margin: 0;
    position: relative;
}

.nav ul li::before {
    content: '';
    display: block;
    width: var(--navigation-ball-size);
    height: var(--navigation-ball-size);
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    background: white;
    z-index: 1;
}

.nav ul li.selected::before {
    background: black;
}

.nav hr {
    position: absolute;
    width: calc(100% - 2*var(--info-bar-padding-x));
    height: 2px;
    border: none;
    background: black;
    top: calc(var(--info-bar-padding-x) + var(--navigation-ball-size)/2)
}

.close {
    border: none;
    outline: none;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none !important;
    font-size: 26px;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 100ms ease-out 0s;
    cursor: pointer;
    box-shadow: 0 0 5px 1px #333;
}
  
.close:hover {
    transform: translate(10px, -50%);
}

.content {
    display: flex;
    flex-flow: row nowrap;
}

.nav ul {
    list-style-type: none;
}

.definition ul, .props ul {
    list-style-type: none;
}

.definition ul li span {
    font-weight: 500;
}

.props {
    color: #F38839;
}

.comments textarea {
    display: block;
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    box-shadow: inset 0 0 5px 0;
}
