:host {
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
  /* tune this */
  margin: 165px 5% 0;
  height: calc(100% - 180px);
  font-size: 20px;
}

@media (max-width: 1366px) {
  :host {
    font-size: 14px;
  }
}

@media (min-width: 1367px) and (max-width: 1500px) {
  :host {
    font-size: 18px;
  }
}

@media (min-width: 1500px) {
  :host {
    font-size: 20px;
    column-gap: 20px;
    row-gap: 20px;
  }
}

:host::ng-deep > * {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: white;
  padding: 15px;
  padding-bottom: 10px;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  position: relative;
  font-size: inherit;
  user-select: none;
}

:host::ng-deep * .props h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  font-size: 0.95em;
  line-height: 1.4em;
  font-weight: 500;
  padding: 0 25px;
  border-bottom: 1px solid #707070;
  color: #151d21;
}

:host::ng-deep * .props p {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 0.7em;
  line-height: 1.2em;
  font-weight: 500;
  color: #070707;
}

:host::ng-deep * .props {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* try to use fit-content if available, if not it's not that bad*/
@supports(width: fit-content) {
  :host::ng-deep * .props {
    width: fit-content;
  }
}


:host::ng-deep > * .container {
  flex: 1;
  overflow: hidden;
}