:host {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  /* tune this */
  max-width: 100%;
  margin: 200px 5% 0;
  height: calc(100% - 200px);
}

:host::ng-deep > * {
  display: block;
  background: white;
  padding: 20px;
}