<div
  class="selector"
  [class]="style"
  [class.disabled]="disabled"
  (click)="isOpen = !isOpen"
  (clickOutside)="isOpen = false"
>
  <span class="label"
    >{{ opts[0].label }} {{ selectedOpt?.label }}</span
  >
  <mat-icon class="expand-icon" *ngIf="!disabled">expand_more</mat-icon>
  <div class="options-list" [class.isOpen]="isOpen">
    <button class="option" *ngFor="let opt of opts" (click)="handleChange(opt)">
      {{ opt.label }}
      <!-- <span
        class="color-indicator"
        *ngIf="opt"
        [ngStyle]="{ 'background-color': 'rgb(' + opt + ')' }"
      ></span> -->
    </button>
  </div>
</div>
