/* Select */
.selector {
    font: normal normal 700 14px/16px Roboto;
    color: #F17B24;
    position: absolute;
    right: 40px;
    top:40px;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
    min-width: 150px;
    width: fit-content;
  }
  .selector.disabled {
    color: var(--grey) !important;
  }
  
  .selector.none {
    border: none;
  }
  
  .selector.outlined {
    border: 0.5px solid;
  }
  .selector.normal {
    border: 0.2px solid ;
    border-radius: 4px;
  }
  
  .label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: auto;
  }
  
  .options-list {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    max-height: 0;
    z-index: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    transition: max-height 0.2s;
    box-shadow: 2px 2px 1px #96887e;
    border-radius: 0 0 4px 4px;
  }
  .options-list.isOpen {
    max-height: 200px;
  }
  .options-list::-webkit-scrollbar {
    display: none;
  }
  
  .option {
    background: none;
    border: none;
    padding: 0.5em 1em;
    width: 100%;
    cursor: pointer;
    color: black;
    text-align: left;
  }
  .option:hover {
    background-color: #E6E6E6;
    color: black;
  }
  
  .color-indicator {
    width: 1em;
    height: 1em;
    border: 1px solid #55555555;
    display: inline-block;
  }

  .expand-icon {
    position: absolute;
    right: 0px;
  }
  