<button class="close" (click)="opened = false">
    <img src="assets/X.svg"/>
</button>
<div class="main">
    <h2 class="title">Géolocalisation</h2>
    <p class="total">Total: {{allPdvs.length}}</p>

    <div class="criterion" *ngFor="let criteria of criteriaNames; let idx = index; trackBy: trackById">
        <map-select [criterion]="criteria" [prettyCriterion]="criteriaPrettyNames[idx]" [criteria]="loadCriterion(idx)" (criteriaChange)="someCriteriaChange(idx, $event)">
        </map-select>
    </div>
    
</div>
<div *ngIf="!opened" class="toggle" (click)="opened = !opened">
    <div><img src="assets/Filtre.svg"/></div>
</div>

<div class="cover" (click)="opened = false" [style.display]="opened ? 'block' : 'none'"></div>