<button class="close" (click)="opened = false">
    <img src="assets/X.svg"/>
</button>
<div class="main">
    <h2 class="title">Géolocalisation</h2>
    <p class="total">Total: {{PDVNumber}}</p>

    <div class="criterion" *ngFor="let criteria of criteriaNames; let idx = index; trackBy: trackById">
        <h6 class="name">{{ criteriaPrettyNames[idx] }}</h6>
        <div class="class">
            <select (change)="updateCriteria(idx)">
                <option *ngFor="let entry of loadCriterion(criteria); trackBy: trackById" [value]="entry[0]">
                    {{entry[1]}}
                </option>
            </select>
        </div>
    </div>
    
</div>
<div class="toggle" (click)="opened = !opened">
    <img *ngIf="!opened" src="assets/list.svg"/>
</div>