
.container {
    font: normal;
    display: flex; 
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}
.image-container{
    display: flex;
    width: 35%;
    height: 100%;
    overflow-x: hidden;
}
.form-container{
    display: flex;
    position: relative;
    width: 65%;
    height: 100%;
}
.logo{
    height: 7%;
    width: 10%;
}
.form {
padding-top: 15%;
width: 75%;
height: 55%;
padding-bottom: 30%;
}
.connection-container{
    display: flex;
    position:relative;
    justify-content: center;
    width: 80%;
    height: 100%;    
}