.container-bar{
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 48px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
.input-range{
    top: 15px;
    left: 626px;
    width: 49px;
    height: 22px;
    background: #888888 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #000000A0;
    opacity: 1;
    border-radius: 24px;
}
label{
    top: 16px;
    left: 684px;
    width: 132px;
    height: 19px;
    text-align: left;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #151D21;
    opacity: 1;
}
.open-filters{
    top: 16px;
    left: 110px;
    width: 100px;
    height: 21px;
    text-align: left;
    font: normal normal normal 18px/21px Roboto;
    letter-spacing: 0px;
    color: #151D21;
    opacity: 1;
}
.right-block{

}

