.container{
    width: 90%;
    position: absolute;
    display: flex;
    top : 70px;
    z-index: 0;
    justify-content: space-between;
}
select{
    position:absolute;
    top: 10px;
    width: 134px;
    height: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}
.dash{
    font-size: 24px;
    font-weight: 600;
}
.level{
    padding-top: 10px;
    font-size: 18px;
}