.container{
    width: 90%;
    position: absolute;
    display: flex;
    top : 70px;
    left: 5%;
    right: 5%;
    z-index: 0;
}
select{
    font: normal normal 200 14px/19px Nunito Sans;
    position: absolute;
    width: 234px;
    height: 28px;
    top: 10px;
    right: 40px; 
}