@media (max-width: 1366px) {
    :host {
        font-size: 16px;
    }
  }
  
  @media (min-width: 1367px) and (max-width: 1500px) {
    :host {
        font-size: 18px;
    }
  }
  
  @media (min-width: 1500px) {
    :host {
        font-size: 20px;
    }
  }
  

.container{
    width: 90%;
    position: absolute;
    display: flex;
    top : 60px;
    z-index: 0;
    justify-content: space-between;
}

select{
    position:absolute;
    top: 10px;
    width: 134px;
    height: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}
.dash{
    font-size: 1.4em;
    font-weight: 500;
}
.level{
    padding-top: 10px;
    font-weight: 400;
    font-size: 1.1em;
}