<div class="container-filters">
    <div class="title">
      {{ this.levelName }}
    </div>
    <div class="path">
      {{ path }}
    </div>
      <select
        (change)="updateState(undefined, value)"
        class="dashSelection"
        *ngIf="showselect" 
      >
        <option
          *ngFor="let dashName of listDashboard.name; let id = index"
          [value]="id"
          (click)="updateState(undefined, id)"
        >
          {{ dashName }}
        </option>
      </select>
      <img (click)='close()' src='../../assets/x icon.svg' class="close">
  <div *ngIf="showselect">
    <ul class="list-button">
        <button
          class="list-elmt"
          (click)="updateState(id + 1)"
          *ngFor="let opts of viewList.name; let id = index"
        >
          {{ opts }}
        </button>
    </ul>
  </div>
  <ng-container *ngIf="!showselect">
    <ul class="list">
      <button
        class="list-elmt"
        *ngFor="let dash of listDashboard.name; let id = index"
        (click)="updateState(undefined, id)"
      >
        {{ dash }}
      </button>
    </ul>
  </ng-container>
  <div class="navigate">
    <div class="box-nav1">
      <button
        class="navigate-button1"
        *ngIf="superLevel.name"
        (click)="updateBlock(this.superLevel)"
      >
        &#060;
      </button>
      <br><br>
      {{ superLevel.label | lowercase }}
    </div>
    <div class="box-nav2">
      <button
        class="navigate-button2"
        *ngIf="subLevels.id.length"
        [disabled]=""
        (click)="showBrothers(subLevels)"
      >
        &#062;</button
      ><br /><br/>
      {{subLevels.label[0]}}
    </div>
  </div>
</div>
