<div class="container-filters">
  <div class="title left-aligned">
    {{ level.label }}
  </div>
  <div class="path left-aligned">
    <ng-container *ngFor="let level of path; let index = index">
      <span class="node" (click)="navigateUp(path.length - 1 - index)">{{ level.label }} {{ level.name ? ': ' + level.name : '' }}</span>
      <span *ngIf="index < path.length - 1" class="node-seperator"> > </span>
    </ng-container>
  </div>
    
    <select
      name="fieldName"
      (change)="changeDashboard($event)"
      class="dashSelection"
      *ngIf="!isShowingDashboards"
      [disabled]="viewList == subLevels"
      [ngClass]="{ disabled: subLevels == viewList }"
    >
      <option
        *ngFor="let dash of listDashboard"
        [value]="dash.id"
        [attr.selected]="dash.id == dashboard.id || null"
      >
        {{ dash.name }}
      </option>
    </select>
  <img style="cursor: pointer;" (click)="close()" src="assets/x icon.svg" class="close" />
  <div *ngIf="!isShowingDashboards">
    <div class="list-button" [style.column-count]="viewList.length > 12? '3' : '2'">
      <ng-container *ngFor="let level of viewList; let index = index">
        <button
          class="list-elmt left-aligned"
          [ngClass]="{ selected: level === currentSelection! }"
          (click)="updateState(level.id, undefined, undefined)"
          (dblclick)="updateState(level.id, undefined, undefined, true)"
        >
          {{ level.name }}
        </button></ng-container>
      </div>
  </div>
  <ng-container *ngIf="isShowingDashboards">
    <div class="list" [style.grid-template-columns]="'repeat(' + (viewList.length > 12 ? 3 : 2) + ', 1fr)'" [style.grid-template-rows]="'repeat(' + (viewList.length > 12 ? 7 : 6) + ', 25px)'">
      <button
        class="list-elmt left-aligned"
        *ngFor="let dash of viewList; let idPos = index"
        (click)="
          updateState(undefined, dash.id, undefined)
        "
        [ngClass]="{ selected: dash.id === dashboard.id }"
        (dblclick)="
          updateState(undefined, dash.id, undefined, true)
        "
      >
        {{ dash.name }}
      </button>
    </div>
  </ng-container>
  <div class="navigate">
    <div *ngIf="superLevel" class="box box-nav1" [title]="superLevel!.label">
      <img
        src="assets/super.svg"
        class="navigate-button1"
        (click)="showSuper()"
      />
      <br />
      {{ superLevel!.label }}
    </div>
    <div *ngIf="subLevels.length" class="box box-nav2" [title]="subLevels[0].label" [style.visibility]="canSub() ? 'visible' : 'hidden'" [ngClass]="{ disabled: subLevels == viewList }">
      <img
        src="assets/sub.svg"
        class="navigate-button2"
        (click)="showSub()"
      /><br />
      {{ subLevels[0].label }}
    </div>
  </div>
</div>
