<div class="container-filters">
  <div class="title left-aligned">
    {{ levelLabel }}
  </div>
  <div class="path left-aligned">
    <span *ngFor="let p of path; let index = index" class="node" (click)="navigateUp(path.length-1 - index)">{{ p }} {{index == path.length-1 ? '' : ' > '}}</span>
  </div>
    
    <select
      name="fieldName" ngDefaultControl
      [(ngModel)]="selectedDashboardId"
      (ngModelChange)="updateState(undefined, $event, undefined)"
      class="dashSelection"
      *ngIf="showselect"
      [disabled]="viewList == subLevels"
      [ngClass]="{ disabled: subLevels == viewList }"
    >
      <option
        *ngFor="let dashName of listDashboard.name; let idPos = index"
        [value]="this.listDashboard.id[idPos]"
      >
        {{ dashName }}
      </option>
    </select>
  <img style="cursor: pointer;" (click)="close()" src="assets/x icon.svg" class="close" />
  <div *ngIf="showselect">
    <div class="list-button" [style.column-count]="viewList.name.length > 12? '3' : '2'">
      <ng-container *ngFor="let levName of viewList.name; let idLev = index">
        <button
          class="list-elmt left-aligned"
          [ngClass]="{ selected: levName === this.levelName }"
          (click)="updateState(idLev + 1, undefined, undefined)"
          (dblclick)="updateStateClose(idLev + 1, undefined, undefined)"
        >
          {{ levName }}
        </button></ng-container>
      </div>
  </div>
  <ng-container *ngIf="!showselect">
    <div class="list" [style.grid-template-columns]="'repeat(' + (viewList.name.length > 12 ? 3 : 2) + ', 1fr)'" [style.grid-template-rows]="'repeat(' + (viewList.name.length > 12 ? 7 : 6) + ', 25px)'">
      <button
        class="list-elmt left-aligned"
        *ngFor="let dashboardName of viewList.name; let idPos = index"
        (click)="
          updateState(undefined, this.listDashboard.id[idPos], undefined)
        "
        [ngClass]="{ selected: dashboardName === this.selectedDashboardName }"
        (dblclick)="
          updateStateClose(undefined, this.listDashboard.id[idPos], undefined)
        "
      >
        {{ dashboardName }}
      </button>
    </div>
  </ng-container>
  <div class="navigate">
    <div class="box box-nav1" [title]="superLevel.label">
      <img
        src="assets/super.svg"
        class="navigate-button1"
        [style.display]="superLevel.label ? 'initial' : 'none'"
        (click)="showSuper(this.superLevel)"
      />
      <br />
      {{ superLevel.label }}
    </div>
    <div class="box box-nav2" [title]="subLevels.label[0]" [style.display]="canSub() ? 'initial' : 'none'" [ngClass]="{ disabled: subLevels == viewList }">
      <img
        src="assets/sub.svg"
        class="navigate-button2"
        (click)="showSub(subLevels)"
      /><br />
      {{ subLevels.label[0] }}
    </div>
  </div>
</div>
