<div class="main-container">
    <app-upperbar (mapVisible)="mapIsVisible($event)" (displayPDV)="displayPDV($event)">
        <div *ngIf="shouldComputeDescription; else elseBlock" class="aligned description">
            {{ description }}
        </div>
        <ng-template #elseBlock>
            <description-widget class="aligned description"></description-widget>
        </ng-template>
    </app-upperbar>
    <grid-manager [layout]="layout" [node]="node" (layoutChanged)="onLayoutChange($event)" #gridManager>
    </grid-manager>
</div>
