<h2>PdV : {{titleData[0]}} Siniat : {{titleData[1]}} sur un total identifié de : {{titleData[2]}} en Km²</h2>
<div class="tableNavivation">
    <form>
        <label *ngFor="let navOpt of navOpts" class="radio-inline">
            <input type="radio" name="optradio" (click)="updateGroups(navOpt.id)" [attr.checked]="navOpt===navOpts[0] ? '' : null"> {{ navOpt.name }}
        </label>
    </form>
  </div>

<ag-grid-angular
    #myGrid
    id="myGrid"
    style="width: 100%; height: 100%;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [rowHeight]="rowHeight"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
    [headerHeight]="0"
    [rowClassRules]="rowClassRules"
    [frameworkComponents]="frameworkComponents"
    (cellClicked)="onCellClicked($event)"
>
</ag-grid-angular>

<div *ngIf="show" (click)="showEdit()" class="edit-div">{{ editData }}</div>