.table-title {
    padding-left: 30px;
}

.table-navigation {
    padding-bottom: 20px;
}
.table-navigation label {
    padding-left: 15px;
}
input[type="radio"] {
    width: 15px;
    height: 15px;
    /* filter: invert(100%) hue-rotate(18deg) brightness(1.7); */
}

ul li {
    font-weight: 300;
    margin: 10px -40px;
    list-style-type: none;
}
span {
    font-weight: 400;
    font-size: 0.8em;
}


.side-div {
    display: flex;
    flex-direction: column;
    /* padding: 2em 5em; */
    position: absolute;
    height: 100%;
    background-color: white;
    top: 0;
    right: -60%;
    width: 60%;
    box-shadow: -2px 0 4px grey;
    overflow: scroll;
    transition: right 200ms ease-out 0s;
}


.side-div img{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 10px;
}

.side-div h2 {
    font-weight : 400;
    font-size: 1.20em;
}

.side-div div {
    flex-grow: 1;
}

.side-div>div:first-of-type {
    padding-top: 3em;
}
.side-div>div {
    padding-left: 3em;
}

.side-div .checkbox-div {
    color: orange;
    
}


.values-div {
    display: flex;
    flex-direction: row;
}


.vertical-bar{
    min-width: 2px;
    max-width: 2px;
    height: 60%;
    background-color: lightgray;
}