<h2 #title class="table-title"></h2>
<div class="table-navigation">
    <form>
        <label *ngFor="let navOpt of navOpts" class="radio-inline">
            <input type="radio" name="optradio" (click)="updateGroups(navOpt.id)" [checked]="navOpt.id === currentOpt"> {{ navOpt.name }}
        </label>
    </form>
  </div>

<ag-grid-angular
    #myGrid
    [ngClass]="type"
    id="myGrid"
    style="width: 100%; height: 100%;"
    class="ag-theme-alpine"
    [rowHeight]="rowHeight"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [animateRows]="true"
    [isExternalFilterPresent]="isExternalFilterPresent"
    [doesExternalFilterPass]="doesExternalFilterPass"
    [rowData]="rowData"
    (gridReady)="onGridReady($event)"
    [headerHeight]="0"
    [rowClassRules]="rowClassRules"
    [frameworkComponents]="frameworkComponents"
    (cellClicked)="onCellClicked($event)"
>
</ag-grid-angular>

<info-bar [style.margin-top]="0" [style.top]="0"  [style.height]="'100%'" [(pdv)]="pdv" [display]="type" [customData]="customData"></info-bar>

<div [style.right] = "sideDivRight" class="side-div">
    <img src="assets/x icon.svg" (click)="requestQuit()"/>
    <div>
        <div>
            <span>
                <h2>{{ infoData.name }}</h2>
            </span>
            <ul>
                <li><span>Enseigne : </span>{{ infoData.enseigne }}</li>
                <li><span>Département :  </span>{{ infoData.dep }}</li>
                <li><span>Typologie PdV : </span> {{ infoData.typologie }}</li>
                <li><span>Segmentation marketing : </span> {{ infoData.segmentMarketing }}</li>
                <li><span>Segmentation portefeuille : </span>{{ infoData.segmentCommercial }}</li>
                <li><span>Nombre de visites : </span>{{ infoData.nbVisits }}</li>
            </ul>
        </div>
    </div>
    <div class="container-checkbox" (click)="changeRedistributed()">
        <span>Point de vente redistribué</span>
        <input type="checkbox" [attr.checked]="redistributed == false">
        <span class="checkmark" ></span>
    </div>
    <div class="values-div">
        <div>
            <h2>P2CD</h2>
            <ul>
                <li *ngIf="infoData.siniatP2cdSales  != 0"><span>Siniat : </span>{{ infoData.siniatP2cdSales }} m²</li>
                <li *ngIf="infoData.placoP2cdSales  != 0"><span>Placo : </span>{{ infoData.placoP2cdSales }} m²</li>
                <li *ngIf="infoData.knaufP2cdSales  != 0"><span>Knauf : </span>{{ infoData.knaufP2cdSales }} m²</li>
                <li *ngIf="infoData.totalP2cdSales  != 0"><span>Total P2CD estimé : </span>{{ infoData.totalP2cdSales }} m²</li>
            </ul>
        </div>
        <div>
            <div class="vertical-bar"></div>
        </div>
        <div>
            <h2>Enduit</h2>
            <ul>
                <li *ngIf="infoData.pregyEnduitSales != 0"><span>Pregy : </span>{{ infoData.pregyEnduitSales }} KG</li>
                <li *ngIf="infoData.salsiEnduitSales != 0"><span>Salsi : </span>{{ infoData.salsiEnduitSales }} KG</li>
                <li *ngIf="infoData.potential  != 0"><span>Potentiel : </span>{{ infoData.potential }} KG</li>
                <li *ngIf="infoData.totalSiniatEnduitSales  != 0"><span>Total siniat : </span>{{ infoData.totalSiniatEnduitSales }} KG</li>
                <li *ngIf="infoData.totalEnduitSales  != 0"><span>Total estimé : </span>{{ infoData.totalEnduitSales }} KG</li>
            </ul>
        </div>
    </div>

</div>

<div class="cover" (click)="requestQuit()" [style.display]="showInfo ? 'block' : 'none'"></div>
<div class="quitbar-container" [style.display]="quiting ? 'block' : 'none'">
    <div class="quitbar">
        <h1>Souhaitez-vous mettre à jour les modifications</h1>
        <div class="button-container">
            <button class="negative button" (click)="quit(false)">Non, merci</button>
            <button class="positive button" (click)="quit(true)">Oui</button>
        </div>
    </div>
</div>