.table-title {
    padding-left: 30px;
}

.table-navigation {
    padding-bottom: 20px;
}
.table-navigation label {
    padding-left: 15px;
}
input[type="radio"] {
    width: 15px;
    height: 15px;
    /* filter: invert(100%) hue-rotate(18deg) brightness(1.7); */
}

span {
    font-weight: 400;
    font-size: 0.8em;
}

.graph-description {
    position: fixed;
    display: none;
    pointer-events: none;
    background-color: #333;
    color: white;
}
.graph-description label{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3px;
}

.graph-description .color-square {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
}