<div class="resume">
    {{ getShortName() | titlecase }} <div class="toggle-dropdown"><img src="assets/icon-option.svg"/></div>
</div>
<div class="dropdown" #dropdown>
    <div class="profile">
        {{ name | uppercase }}
        <span class="profile-description">Profil {{ getProfileType() | async | titlecase }}</span>
    </div>
    <ul class="details">
        <li><img [src]="getADStatus() ? 'assets/AD ouvert.svg' : 'assets/AD Fermée.svg'"/> Saisie de l'AD : <span class="value">{{ getADStatus() ? 'Ouverte' : 'Fermée' }}</span></li>
        <li><img src="assets/Version appli.svg"/> Version de l'Appli : <span class="value">{{ getAppVersion() }}</span></li>
        <li><img src="assets/Version referentiel .svg"/> Version Référentiel : <span class="value">{{ getRefValue() }}</span></li>
        <li><img src="assets/Mise a jour .svg"/> Mise à jour : <span class="value">{{ getLastUpdateDate() }}</span></li>
    </ul>
    <div class="logout">
        <button class="logout button" (click)="logout()">Se Déconnecter</button>
    </div>
</div>