/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import '~billboard.js/dist/billboard.css'; 

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";


.main-container{
    background: #F7F7F7 0% 0% no-repeat padding-box;
}
*{
    font-family: Roboto;
}
input[type=text]:hover, input[type=password]:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* box-shadow: inset 0px 3px 6px #00000029; */
    /* border: 0.4000000059604645px solid #707070; */
    border-radius: 4px;
    opacity: 1;
}
input[type=text],input[type=password]{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 1px #0000002E;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 10px;
    font: italic normal 100 16px/24px Roboto;
    width: 100%;
    height: 50px;
    border: 0.4000000059604645px solid #707070;
    border-radius: 4px;
    opacity: 1;
}
input[type=text]:focus,[type=password]:focus{
    outline: none;
    box-shadow: inset 0px 3px 6px #00000029;
    border: 0.4000000059604645px solid #707070;
}
input[type=text]:-webkit-autofill,
input[type=text]:-webkit-autofill:focus,
input[type=password]:-webkit-autofill,
input[type=password]:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 1px #0000002E;
  border: 0.4000000059604645px solid #707070 !important;
  border-radius: 4px;
  opacity: 1;
}
input[type=text]:-webkit-autofill,
input[type=text]:-webkit-autofill:hover,
input[type=password]:-webkit-autofill,
input[type=password]:-webkit-autofill:hover,
textarea:-webkit-autofill, 
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover{
    outline: none;
    border: 0.4000000059604645px solid #707070;
}
*select{
    font-family: Roboto;
    width: 234px;
    height: 28px;
}
body{
    margin:0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*svg{
    font-family: Roboto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.aligned {
    padding-left: 5%;
    padding-right: 5%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Common styles for charts -- the theme */

:root {
    --tooltip-height: 20px;
    --tooltip-padding: 5px;
    --tooltip-border-radius: 4px;
    --tooltip-font-family: inherit;
    --tooltip-font-size: 14px;
    --tooltip-color: white;
    --tooltip-background-color: rgba(0, 0, 0, 0.8);

    --tooltip-tail-base: 30px;
    --tooltip-tail-factor: 0.4;
    --tooltip-tail-border-radius: 2px;
}

.tooltip {
    padding: var(--tooltip-padding);
    border-radius: var(--tooltip-border-radius);
    font-family: var(--tooltip-font-family);
    font-size: var(--tooltip-font-size);
    color: var(--tooltip-color);
    background-color: var(--tooltip-background-color);
    /* height: var(--tooltip-height); */

    position: relative; /*for the tail*/
    transform: translate(-50%, 15px);
}

/* histograms automatically lower the tooltip */
.historow-tooltip {
    transform: translate(calc(-50% + 20px), -6px);
}

/* histograms automatically lower the tooltip */
.histocolumn-tooltip {
    transform: translate(calc(-50% - 18px), 20px);
}

/*tail of the tooltip*/
/*made through trial and error, should figure out the formulas. ⚠️*/
.tooltip-tail {
    position: absolute;
    height: var(--tooltip-tail-base);
    width: calc(var(--tooltip-tail-factor)*var(--tooltip-tail-base));
    overflow: hidden;
    transform: rotate(-270deg);
    bottom: calc(100% - 10px);
    left: calc(50% - 8px);
}

.tooltip-tail::after {
    display: block;
    content: "";
    position: absolute;
    width: var(--tooltip-tail-base);
    height: 100%;
    left: 10px;
    background: var(--tooltip-background-color);
    transform: rotate(45deg);
    border-radius: var(--tooltip-tail-border-radius);
}

/*override default styling on historow x-grid lines. ⚠️*/
app-historow .bb-xgrid {
    stroke-dasharray: none;
}

/*temporary code to print no data⚠️*/
/****************⚠️ ***************/
.nodata {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #aaa;
}

/* font-size on axis */
.bb-axis.bb-axis-x .tick text {
    --x-axis-font-size: 14px;
    font-size: var(--x-axis-font-size);
}

.bb-legend-background {
    stroke: none !important;
    stroke-width: 0;
}

/* Ag-grid css*/
.ag-theme-alpine {
    font-weight: 300;
}
.group-row {
    background-color: #F06D0C !important;
    color: white !important;
    font-weight: 600 !important;
}
/**************/
g.simple-needle {
    pointer-events: none;
    transform-origin: 0 0;
    transition: transform 30ms ease-in-out 0s;
}

g.simple-needle line {
    transition: transform 250ms ease-out 0s;
    stroke: yellow;
    stroke-width: 3px;
    stroke-linecap: round;
}

.bb-target.bb-defocused, .bb-circles.bb-defocused {
    opacity: 0.75 !important;
}

.bb-shape.bb-shape.bb-line {
    stroke-width: 3px;
}