/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import '~billboard.js/dist/billboard.css'; 

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "./normalize.css";

.main-container{
    background: #F7F7F7 0% 0% no-repeat padding-box;
}
*{
    font-family: Roboto;
}

/* very annonying styles, i have to cancel them everywhere I use an input */
input[type=text]:hover, input[type=password]:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* box-shadow: inset 0px 3px 6px #00000029; */
    /* border: 0.4000000059604645px solid #707070; */
    border-radius: 4px;
    opacity: 1;
}
input[type=text],input[type=password]{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 1px #0000002E;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 10px;
    font: italic normal 100 16px/24px Roboto;
    width: 100%;
    height: 50px;
    border: 0.4000000059604645px solid #707070;
    border-radius: 4px;
    opacity: 1;
}
input[type=text]:focus,[type=password]:focus{
    outline: none;
    box-shadow: inset 0px 3px 6px #00000029;
    border: 0.4000000059604645px solid #707070;
}
input[type=text]:-webkit-autofill,
input[type=text]:-webkit-autofill:focus,
input[type=password]:-webkit-autofill,
input[type=password]:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 1px #0000002E;
  border: 0.4000000059604645px solid #707070 !important;
  border-radius: 4px;
  opacity: 1;
}
input[type=text]:-webkit-autofill,
input[type=text]:-webkit-autofill:hover,
input[type=password]:-webkit-autofill,
input[type=password]:-webkit-autofill:hover,
textarea:-webkit-autofill, 
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover{
    outline: none;
    border: 0.4000000059604645px solid #707070;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

*select{
    font-family: Roboto;
    width: 234px;
    height: 28px;
}
body{
    margin:0;
    overflow: hidden
;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*svg{
    font-family: Roboto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.aligned {
    padding-left: 5%;
    padding-right: 5%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Common styles for charts -- the theme */

:root {
    --tooltip-height: 20px;
    --tooltip-padding: 5px;
    --tooltip-border-radius: 4px;
    --tooltip-font-family: inherit;
    --tooltip-font-size: 12px;
    --tooltip-color: white;
    --tooltip-background-color: rgba(0, 0, 0, 0.8);

    --tooltip-tail-base: 30px;
    --tooltip-tail-factor: 0.4;
    --tooltip-tail-border-radius: 2px;
}
  
@media (min-width: 1367px) and (max-width: 1500px) {
    :root {
        font-size: 14px;
    }
}

@media (min-width: 1500px) {
    :root {
        font-size: 15px;
    }
}

.tooltip {
    padding: var(--tooltip-padding);
    border-radius: var(--tooltip-border-radius);
    font-family: var(--tooltip-font-family);
    font-size: var(--tooltip-font-size);
    color: var(--tooltip-color);
    background-color: var(--tooltip-background-color);
    /* height: var(--tooltip-height); */

    position: relative; /*for the tail*/
    transform: translate(-50%, 15px);
}

@supports(width: fit-content) {
    /* histograms automatically lower the tooltip */
    .historow-tooltip {
        transform: none;
    }
    
    .bb-tooltip-container {
        width: fit-content;
    }
}


/* histograms automatically lower the tooltip */
.histocolumn-tooltip {
    transform: translate(-25%, 20px);
}

/*tail of the tooltip*/
/*made through trial and error, should figure out the formulas. ⚠️*/
.tooltip-tail {
    position: absolute;
    height: var(--tooltip-tail-base);
    width: calc(var(--tooltip-tail-factor)*var(--tooltip-tail-base));
    overflow: hidden;
    transform: rotate(-270deg);
    bottom: calc(100% - 10px);
    left: calc(50% - 8px);
}

.tooltip-tail::after {
    display: block;
    content: "";
    position: absolute;
    width: var(--tooltip-tail-base);
    height: 100%;
    left: 10px;
    background: var(--tooltip-background-color);
    transform: rotate(45deg);
    border-radius: var(--tooltip-tail-border-radius);
}

/*override default styling on historow x-grid lines. ⚠️*/
app-historow .bb-xgrid {
    stroke-dasharray: none;
}

/*temporary code to print no data⚠️*/
/****************⚠️ ***************/
.nodata {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #aaa;
}

/* font-size on axis */
.bb-axis.bb-axis-x .tick text {
    font-size: var(--x-axis-font-size);
    font-weight: 300;
}

.bb-legend-background {
    stroke: none !important;
    stroke-width: 0;
}

/* Ag-grid css*/
.ag-theme-alpine {
    font-weight: 500;
}
.ag-theme-alpine .ag-cell {
    /* display: flex !important;
    align-items: center !important; */
    /* border: none !important; */
}
.group-row {
    background-color: #F06D0C !important;
    color: white !important;
    font-weight: 300 !important;
}
.enduit .group-row {
    background-color: #929191 !important;
}
.pdv-displayed-red {
    color: red !important;
  }
  .pdv-displayed-orange {
    color: #F06D0C !important;
  }
/**************/
g.simple-needle {
    pointer-events: none;
    transform-origin: 0 0;
    transition: transform 30ms ease-in-out 0s;
}

g.simple-needle line {
    transition: transform 250ms ease-out 0s;
    stroke: yellow;
    stroke-width: 3px;
    stroke-linecap: round;
}
/* 
.bb-target.bb-defocused, .bb-circles.bb-defocused {
    opacity: 0.75 !important;
} */

.bb-shape.bb-shape.bb-line {
    stroke-width: 3px;
}

.bb-legend-item {
    font-size: var(--legend-font-size);
    font-weight: 300;
}

.incorrect-input {
    position: relative;
    color: red;
    animation-name: vibrate;
    animation-duration: 250ms;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;

    --vibration-amplitude: 6px;
}

@keyframes vibrate {
    0% { left: 0; }
    10% { left: var(--vibration-amplitude); }
    30% { left: calc(-1*var(--vibration-amplitude)); }
    50% { left: var(--vibration-amplitude); }
    70% { left: calc(-1*var(--vibration-amplitude)); }
    90% { left: var(--vibration-amplitude); }
    100% { left: 0; }
}

@media (max-width: 1366px) {
    :root {
        --x-axis-font-size: 10px;
        --legend-font-size: 10px;
    }
}

@media (min-width: 1366px) and (max-width: 1920px) {
    :root {
        --x-axis-font-size: 12px;
        --legend-font-size: 11px;
    }
}

@media (min-width: 1500px) {
    :root {
        --x-axis-font-size: 13px;
        --legend-font-size: 12px;
    }
}