<div class="container input">
    <input
      matInput
      class="searching-customer"
      type="text"
      placeholder="Rechercher"
      [ngModel]="searchModel"
      [disabled]="disabled"
      [class.inset]="!disabled"
      autocomplete="off"
    />
    <img
      class="loop-icon"
      src="assets/loop.svg"
      (click)="handleLoopClick()"
      *ngIf="!noLense && (!searchModel || searchModel.length == 0)"
    />
    <img
      src="assets/icons/x icon.svg"
      class="remove-icon"
      (click)="updateSearchModel(''); handleCrossClick()"
      *ngIf="noLense"
    />
  </div>
