<div class="container-bar aligned">
  <div class="button-container" [style.visibility]="hideIfMapIsVisible">
    <div (click)="showFilters()" class="open-filters">
      Options
        <mat-icon class="expand-icon">expand_more</mat-icon></div>
  </div>

  <div class="ens-org" [style.visibility]="hideIfMapIsVisible">
    <span
      ><div id="ens" [ngClass]="{ light: sldValue == 1 }">Enseigne</div></span
    >
    <input
      type="range"
      min="0"
      max="1"
      step="1"
      class="input-range"
      [value]="sldValue"
      (click)="toggle();"
    />
    <span
      ><div id="org" [ngClass]="{ light: sldValue == 0 }">
        Org. commerciale
      </div></span
    >
  </div>

  <div class="right-block">
    <div class="search-div">
     <searchbar (PDVfound)="displayPDVOnTable($event)"></searchbar>
    </div>
    <div class="search-div">
      <button class="button" (click)="updateData()">
        <img class="button-img updatable" (click)="updating = true" (animationend)="onAnimationEnd()" [class.updating]="updating" src="assets/Mise a jour.svg" alt="Mettre à jour" />
      </button>
    </div>
    <div class="search-div">
      <button class="button" (click)="toggleMap()">
        <img class="button-img" [src]="mapComponent?.shown ? 'assets/Icon retour dashboard.svg' : 'assets/map.svg'" alt="Carte" />
      </button>
    </div>
    <div class="search-div">
      <account-info [name]="getName() || '...'"></account-info>
    </div>
  </div>
</div>
<app-sub-upper-bar></app-sub-upper-bar>
<ng-content></ng-content>
<div *ngIf="isFilterVisible">
  <app-filters></app-filters>
</div>
<div [hidden]="!isFilterVisible" class="click-area" (click)="showFilters()"></div>

<app-map #map></app-map>