<div class="container-bar">
  <div>
    <button (click)="showFilters()" class="open-filters">Options</button>
  </div>

  <div class="ens-org">
    <span><div id="ens">Enseigne</div></span>
    <input
      type="range"
      min="0"
      max="1"
      step="1"
      class="input-range"
      (value)="(sldValue)"
      (change)="changeFont()"
    />
    <span><div id="org">Org. commercial</div></span>
  </div>

  <div class="right-block">
    <div class="search-div">
      <span
        ><app-search-field
          *ngIf="shouldShowButtons === true"
          class="search-bar"
          [noLense]="true"
          [searchModel]="searchModel"
          (searchModelChange)="updateSearchData($event)"
          (onCrossClick)="!$event.length && toggleSearch()"
        ></app-search-field
      ></span>
      <button class="button search" (click)="toggleSearch()">
        <img
          class="button-img"
          src="assets/Rechercher.svg"
          alt="open search button"
        />
      </button>
    </div>
    <div class="search-div">
      <button class="button">
        <img class="button-img" src="assets/Mise a jour.svg" alt="actualiser" />
      </button>
    </div>
    <div class="search-div">
      <button class="button">
        <img class="button-img" src="assets/map.svg" alt="actualiser" />
      </button>
    </div>
    <div class="search-div">
      <button class="button" (click)="logOut()">
        <img class="button-img" src="assets/Log out.svg" alt="actualiser" />
      </button>
    </div>
  </div>
</div>
<div *ngIf="isFilterVisible">
  <app-filters></app-filters>
</div>
<div>
  <app-sub-upper-bar></app-sub-upper-bar>
</div>
